* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
}

header {
    /* Position - Fixed */
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    padding: 30px;
    z-index: 99;
    background-color: #dc143c;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    /* To light,bold and bolder */
    font-weight: 700;
}

.hero {
    height: 729px;
}

#hero {
    /** Background Property */

    /* background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

    /* Background Shorthand Method */
    background: url('bg.jpeg') no-repeat center/cover;
}

.box {
    border: 2px solid #cdf1e0;
    padding: 20px;
    background-color: #2276798c;
    border-radius: 8px;
    width: 400px;
    color: white;
    text-align: center;
}

.hero-content {
    /* Positioning - absolute : because of header having position fixed. */
    position: absolute;
    top: 40%;
    left: 38%;
}

.hero h1 {
    margin-bottom: 10px;
}

/*^ Linear gradient */

#color1 {
    background: linear-gradient(to right, crimson, royalblue, green, yellow);
    height: 729px;
}

/*^ linear gradinet with background image */

#bg-image {
    background: linear-gradient(to right, #ed143d38, #4169e152, #00800040, #ffff0033), url(bg.jpeg) no-repeat center / cover;
    height: 729px;
}

/*^ Text with linear gradient or Image */

#unique-text {
    height: 729px;
    position: relative;
    background-color: #ebdada;
}

.dabba {
    position: absolute;
    top: 45%;
    left: 40%;
}

.dabba h1 {
    background-image: linear-gradient(to left, crimson,royalblue,purple);
    color: transparent;
    background-clip: text;
    font-size: 40px;
}